body{
    margin:0;
    font-family: 'Exile';font-size: 22px;
}
header img{
    height: 300px;
}
nav a{
    text-decoration: none;
    color: #6CA651;
    font-size: 25px;
    padding: 5px 15px;
}
header{
    text-align: center;
    box-shadow: 0px 0px 5px;
    background-color: #FFFBB1;
}
nav{
    padding: 10px;
}
nav a:hover{
    color:#656D3F ;
}

